* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(34, 32, 32);
    color: rgb(238, 232, 232);
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: .5rem;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(90, 88, 88);
    margin-bottom: .5rem;
}

#new-task-form {
    display: flex;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input::placeholder {
    color: gray;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: rgb(70, 70, 73);
    padding: 1rem;
    border-radius: 1.25rem;
    margin-right: 1rem;
    color: rgb(206, 199, 199);
    font-size: 1.25rem;
}

#new-task-submit {
    color: rgb(51, 185, 185);
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: .8;
}

#new-task-submit:active {
    opacity: .6;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #c73cc0, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 4s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,
    100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 48, 48);
    padding: 1rem;
    border-radius: 1.25rem;
    margin: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text {
    color: rgb(117, 113, 114);
    font-size: 1.25rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    color: crimson;
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: .4s;
}

.task .actions button :hover {
    opacity: .8;
}

.task .actions button :active {
    opacity: .6;
}

.task .actions button :hover {
    opacity: .8;
}

.task .actions button :active {
    opacity: .6;
}